<h1 class="page-title">案件編集</h1>

<%= form_with(model: @project, url: project_path(@project), method: :patch, class: "edit-form") do |form| %>
  <div class="table-responsive">
    <table id="projects-table" class="table table-striped">
      <thead>
        <tr>
          <th>項目</th>
          <th>入力内容</th>
        </tr>
      </thead>
      <tbody>
        <tr><th>顧客名</th><td><%= form.text_field :customer_name, class: "form-control" %></td></tr>
        <tr><th>営業拠点</th><td><%= form.text_field :sales_office, class: "form-control" %></td></tr>
        <tr><th>担当営業</th><td><%= form.text_field :sales_representative, class: "form-control" %></td></tr>
        <tr><th>依頼種別</th><td><%= form.select :request_type, Project.request_types.keys, {}, class: "form-control" %></td></tr>
        <tr><th>依頼内容</th><td><%= form.select :request_content, Project.request_contents.keys, {}, class: "form-control" %></td></tr>
        <tr><th>受注日</th><td><%= form.date_field :order_date, class: "form-control" %></td></tr>
        <tr><th>納期</th><td><%= form.date_field :due_date, class: "form-control" %></td></tr>

        <tr>
          <th>添付資料</th>
          <td>
            <%= form.file_field :attachments, multiple: true, class: "form-control" %>
            <% if @project.attachments.attached? %>
              <p>添付済みファイル: ※削除したい場合はチェックを付けて更新</p>
              <% @project.attachments.each do |attachment| %>
                <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: "inline"), target: "_blank" %>
                <%= check_box_tag "remove_attachments[]", attachment.id %><br>
              <% end %>
            <% else %>
              <p>なし</p>
            <% end %>
          </td>
        </tr>

        <tr><th>備考</th><td><%= form.text_area :remarks, class: "form-control" %></td></tr>

        <tr><th>社員ID</th>
          <td>
            <%= text_field_tag :employee_id, @project.planning_user&.employee_id || @project.design_user&.employee_id || @project.development_user&.employee_id, class: "form-control", id: "employee-id-input" %>

            <%= hidden_field_tag "project[planning_user_id]", @project.planning_user_id, id: "planning-user-id" %>
            <%= hidden_field_tag "project[design_user_id]", @project.design_user_id, id: "design-user-id" %>
            <%= hidden_field_tag "project[development_user_id]", @project.development_user_id, id: "development-user-id" %>
          </td>
        </tr>


        <% if current_user.管理者? || current_user.department == "企画部" %>
          <tr><th>企画担当者</th><td id="planning-user-name"><%= @project.planning_user&.user_name || "未設定" %></td></tr>
        <% end %>

        <% if current_user.管理者? || current_user.department == "情報設計部" %>
          <tr><th>設計担当者</th><td id="design-user-name"><%= @project.design_user&.user_name || "未設定" %></td></tr>
        <% end %>

        <% if current_user.管理者? || current_user.department == "開発部" %>
          <tr><th>開発担当者</th><td id="development-user-name"><%= @project.development_user&.user_name || "未設定" %></td></tr>
        <% end %>

        <% if current_user.管理者? %>
          <tr><th>権限</th><td id="user-role-display"></td></tr>
        <% end %>

        <% if current_user.管理者? || current_user.department == "企画部" %>
          <tr><th>企画開始日</th><td><%= form.date_field :planning_start_date, class: "form-control" %></td></tr>
          <tr><th>企画完了日</th><td><%= form.date_field :planning_end_date, class: "form-control" %></td></tr>
        <% end %>

        <% if current_user.管理者? || current_user.department == "情報設計部" %>
          <tr><th>設計開始日</th><td><%= form.date_field :design_start_date, class: "form-control" %></td></tr>
          <tr><th>設計完了日</th><td><%= form.date_field :design_end_date, class: "form-control" %></td></tr>
        <% end %>

        <% if current_user.管理者? || current_user.department == "開発部" %>
          <tr><th>開発開始日</th><td><%= form.date_field :development_start_date, class: "form-control" %></td></tr>
          <tr><th>開発完了日</th><td><%= form.date_field :development_end_date, class: "form-control" %></td></tr>
        <% end %>

        <tr><th>状態</th><td><%= form.select :status, Project.statuses.keys.map { |status| [status.humanize, status] }, {}, class: "form-control" %></td></tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit "更新", class: "btn btn-primary btn-lg" %>
    <%= link_to "キャンセル", project_path(@project), class: "btn btn-secondary btn-lg" %>
  </div>
<% end %>
