<h1 class="page-title">案件詳細</h1>

<div class="list-container">
  <div class="table-responsive">
    <table id="projects-table" class="table table-bordered table-striped">
      <thead class="table-header">
        <tr>
          <th style="width: 30%;">項目</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <tr><th>顧客名</th><td><%= @project.customer_name %></td></tr>
        <tr><th>営業拠点</th><td><%= @project.sales_office %></td></tr>
        <tr><th>営業担当</th><td><%= @project.sales_representative %></td></tr>
        <tr><th>依頼種別</th><td><%= @project.request_type %></td></tr>
        <tr><th>依頼内容</th><td><%= @project.request_content %></td></tr>
        <tr><th>受注日</th><td><%= @project.order_date %></td></tr>
        <tr><th>納期</th><td><%= @project.due_date %></td></tr>

        <% if current_user.admin? %>
          <tr><th>売上</th><td><%= number_with_delimiter(@project.revenue) %> 円</td></tr>
          <tr><th>コスト</th><td><%= number_with_delimiter(@project.cost) %> 円</td></tr>
          <tr><th>利益</th><td><%= number_with_delimiter(@project.profit) %> 円</td></tr>
        <% end %>

        <tr><th>備考</th><td><%= @project.remarks %></td></tr>

        <tr>
          <th>添付資料</th>
          <td>
            <% if @project.attachments.attached? %>
              <% @project.attachments.each do |attachment| %>
                <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: "inline"), target: "_blank" %><br>
              <% end %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>

        <% if current_user.admin? || current_user.planning? %>
          <tr><th>企画担当者</th><td><%= @project.planning_user&.user_name || "未設定" %></td></tr>
          <tr><th>企画開始日</th><td><%= @project.planning_start_date %></td></tr>
          <tr><th>企画完了日</th><td><%= @project.planning_end_date %></td></tr>
        <% end %>

        <% if current_user.admin? || current_user.design? %>
          <tr><th>設計担当者</th><td><%= @project.design_user&.user_name || "未設定" %></td></tr>
          <tr><th>設計開始日</th><td><%= @project.design_start_date %></td></tr>
          <tr><th>設計完了日</th><td><%= @project.design_end_date %></td></tr>
        <% end %>

        <% if current_user.admin? || current_user.development? %>
          <tr><th>開発担当者</th><td><%= @project.development_user&.user_name || "未設定" %></td></tr>
          <tr><th>開発開始日</th><td><%= @project.development_start_date %></td></tr>
          <tr><th>開発完了日</th><td><%= @project.development_end_date %></td></tr>
        <% end %>

        <% if current_user.admin? %>
          <tr><th>権限</th>
            <td>
        <% if @project.planning_user&.admin? || @project.design_user&.admin? || @project.development_user&.admin? %>
          管理者
        <% elsif @project.planning_user || @project.design_user || @project.development_user %>
          一般社員
        <% else %>
          未設定
        <% end %>
            </td>
          </tr>
        <% end %>

        <tr><th>状態</th><td><%= @project.status %></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="actions">
  <%= link_to "編集する", edit_project_path(@project), class: "btn btn-primary btn-lg" %>

  <% if current_user.admin? %>
    <%= button_to "削除", project_path(@project), method: :delete, data: { confirm: "本当に削除しますか？", turbo: false }, class: "btn btn-danger btn-lg" %>
  <% end %>

  <%= link_to "一覧に戻る", projects_path, class: "btn btn-secondary btn-lg" %>
</div>
